* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*:focus {
    outline: none;
}

:root {
    --bg: #211633;
    --width: 1024px;
    --duration: 0.5s;
    --transition-style: ease-in-out;
    --transition-color: rgba(255, 0, 0, 0.404);
}

.main {
    position: relative;
    background: #151320;
    font-family: Montserrat, sans-serif;
    color: white
}

.welcome {
    margin: auto;
    margin-bottom: 2rem;
    width: var(--width);
}

.name {
    margin: 1rem 0rem 1rem 2rem;
    font-weight: bold;
    text-align: left;
    width: var(--width);
}

.introduction {
    display: flex;
    flex-direction: row;
    height: 200px;
    margin: auto;
    width: var(--width);
}

.introduction-pic-container {
    background-color: var(--bg);
    width: 20%;
    margin: 0rem 2rem 0rem 2rem;
    border-radius: 5%;
    transition: box-shadow var(--duration) var(--transition-style);
}

.introduction-pic-container:hover {
    /* background-color: rgba(255, 0, 0, 0.404); */
    box-shadow: -10px -5px 5px var(--transition-color);
}

.pic-me {
    border-radius: 50%;
    height: 85%;
    width: 85%;
    margin-top: 7.5%;
    margin-left: 7.5%;
}

.introduction-about {
    background-color: var(--bg);
    width: 70%;
    border-radius: 10px;
    margin: 0rem 2rem 0rem 0rem;
    transition: box-shadow var(--duration) var(--transition-style);;
}

.introduction-about:hover {
    box-shadow: -10px -5px 5px var(--transition-color);
}

.introduction-socials {
    width: 10%;
    background-color: var(--bg);
    border-radius: 10px;
    margin: 0rem 2rem 0rem 0rem ;
    transition: box-shadow var(--duration) var(--transition-style);
}

.introduction-socials:hover {
    box-shadow: -10px -5px 5px var(--transition-color);
}


/* Skills Section */
.skills {
    margin: auto;
    width: var(--width);
}

/* Bottom Bar */
.bottom-bar {
    margin: auto;
    height: 75px;
    width: var(--width);
    display: flex;
    flex-direction: row;
}



.socials {
    margin: 0rem 2rem 0rem 2rem;
    width: 70%;
    height: 100%;

    background-color: var(--bg);
    border-radius: 10px 10px 0px 0px;
}

.socials button{
    width: 46px;
    height: 42px;
    font-size: 32px;

    background-color: rgba(179, 127, 127, 0.637);
    transition: background-color 0.3s ease-in-out;

    border: none;
    border-radius: 10px;

    cursor: pointer;
    margin: 1rem;
    margin-left: 1.5rem
}

.socials button:hover {
    background-color: rgb(235, 168, 168);
}

.website {
    border-radius: 10px 10px 0px 0px;
    background-color: var(--bg);
    width: 30%;
    margin: 0rem 2rem 0rem 2rem;

    /* Center the text */
    text-align: center;
    vertical-align: middle;
    line-height: 75px; /* <-- Keep the same as .bottom-bar height */
}

.date {
    font-style: italic;
    text-align: right;
}