a {
    color: white;
    cursor: pointer;
    text-decoration: underline;
}

a:hover {
    color:rgba(0, 240, 60, 0.76);
    font-weight: bold;
}

.past-projects {
    height: 600px;
    width: var(--width);
    margin: auto;
    margin-top: 2rem;
}

.past-projects-inner {
    margin: 0rem 2rem 2rem 2rem;
    background-color: var(--bg);
    height: 90%;
    border-radius: 10px;
}

.pp-topbar {
    height: 10%;
    background-color: #001350;
    border-radius: 10px 10px 0px 0px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    transition: background-color 0.3s ease-in-out;
    -webkit-transition: background-color 0.3s ease-in-out;
    -moz-transition: background-color 0.3s ease-in-out;
}

.pp-pprojects {
    width: 100%;
    height: 100%;
    border-radius: 10px 10px 0px 0px;
    border: none;
    background-color: transparent;
    font-family: Montserrat;
    font-weight: bold;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    -webkit-transition: background-color 0.3s ease-in-out;
    -moz-transition: background-color 0.3s ease-in-out;
}

.pp-pprojects:hover {
    background-color: #F44336;
}

.pp-pcourses {
    width: 50%;
    height: 100%;
    border-radius: 0px 10px 0px 0px;
    border: none;
    background-color: transparent;
    font-family: Montserrat;
    font-weight: bold;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;

    /* Are these necessary? */
    -webkit-transition: background-color 0.3s ease-in-out;
    -moz-transition: background-color 0.3s ease-in-out;
}

.pp-pcourses:hover {
    background-color: #F44336;
}

.pp-content {
    display: flex;
    flex-direction: row;
    height: 100%;
}



/* Contents */
.pp-directory {
    width: 30%;
    height: 0%;
    overflow-y: scroll;
    background-color: var(--bg);
    border-radius: 0px 0px 0px 10px;
    -webkit-transition: 0.75s;
}

.pp-directory.show {
    height: 90%;
}

.pp-item {
    height: 100px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    -webkit-transition: background-color 0.3s ease-in-out;
    -moz-transition: background-color 0.3s ease-in-out;
    margin: auto;
}

.pp-item:hover {
    background-color: #F44336;
}

.pp-display-row {
    display: flex;
    flex-direction: row;
}


.pp-display {
    width: 70%;
    height: 0%;
    background-color: var(--bg);
    overflow-y: scroll;
    -webkit-transition: 1s;
}

.pp-display.show {
    height: 90%;
}

.pp-display-title {
    text-align: center;
    margin: 1rem 2rem 1rem 2rem
}

.pp-display-description {
    margin: 1rem 2rem 1rem 2rem
}

.pp-display-picture {
    margin: 0rem 0rem 0.5rem 0rem;
    background: none;
    height: 200px
}

/* Popup CSS */
/* .button_empty {
    display: none;
}

.button_display {
    margin: 0rem 0rem 0rem 45%;
} */

/* .image_empty {
    display: none;
} */

.image {
    width:100%;
    height:100%;
    border: 1px solid rgba(217, 215, 224, 0.473);
    opacity: 1;
    cursor: pointer;
    transition: opacity 0.3s ease-in-out;
}

.image:hover {
    opacity: 0.6;
}